<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <!-- 'href' link starts from the beginning directory of the project -->
    <link rel="stylesheet" , href="/css/styles.css">
</head>

<body>
    <!-- '>header' and '>footer' are partial views; they exist in a separate file and provide a bunch of template code -->

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>


</html>